{% extends "layout.html" %}
{% block content %}
<div class="row fill-height">
    <div class="col-sm-2 fill-height">
        <nav class="navbar navbar-default navbar-fixed-side nav-side-color fill-height">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link side-link" href="{{ url_for('log_page') }}?log_page=log_home">Overview</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link side-link" href="{{ url_for('log_page') }}?log_page=log_reg">Register Plant </a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link side-link" href="{{ url_for('log_page') }}?log_page=log_view">View Plant </a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link side-link" href="{{ url_for('log_page') }}?log_page=log_mg">Manage Plant </a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link side-link" href="{{ url_for('log_page') }}?log_page=log_ret">Retire Plant </a>
                </li>
            </ul>
        </nav>
    </div>
    <div class="col-sm-10 fill-height" style="overflow-y:scroll">
        {% include log_page %}
    </div>
</div>

{% endblock %}